/* =============================================================== *\ 

 	 Dashicons 

\* =============================================================== */ 



/* =============================================================== *\ 

 	 Aktualisieren - Button 

\* =============================================================== */ 
  
.components-button.editor-post-save-draft.is-tertiary{
	background: #007cba;
	color:white;
}


.components-button.editor-post-publish-button.editor-post-publish-button__button.is-primary{
	background: #ba3c00;
	color:white;
}
/* =============================================================== *\ 

 	 Post-Type-touren menü besser hervorheben 

\* =============================================================== */ 
ul.subsubsub {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  font-size: 16px;
  float: left;
  color: #646970;
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2em 0 1em;
}
.subsubsub li a{
    border-radius: 5px;
    padding: 5px;
    background: #f0f0f1;
    color:black;
}
/* =============================================================== *\ 

 	 Tour-Rückreise-Datum 

\* =============================================================== */ 
  
div[data-name="rueckreise_datum"]{
    /*opacity: 0;*/
}
/* =============================================================== *\ 

 	 Verschiebe-Daten 

\* =============================================================== */ 
  div[data-name="verschiebe_daten"] .acf-table{
      border:0px solid;
  }

  div[data-name="verschiebe_daten"] .acf-table .acf-row{
      border:1px solid;
  }
div[data-name="verschiebe_daten"] th{
    display: none;
}

/* =============================================================== *\ 

 	 Block: Touren-Details 

\* =============================================================== */ 


div[data-name="dauer_und_hohenmeter_rep"] .acf-label label{
font-size: 12px;
height: 24px;
}
  
div[data-name="ausrustung"] .acf-label label{
    display: none;
    
}


/* =============================================================== *\ 

 	 Titel 

\* =============================================================== */ 
  div[data-name="zeitbedarf_gesamte_tour"]{
      clear: left!important;
      float:right;
  }
